@model UserViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update User</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

    <form asp-action="AddOrUpdateUser">
        <input type="hidden" asp-for="UserId" />
            <div class="border p-3">

        <div class="form-floating mb-3">
            <input asp-for="UserName" class="form-control" disabled/>
            <label asp-for="UserName"></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="UserRole" class="form-control"  disabled/>
            <label asp-for="UserRole"></label>
            <span asp-validation-for="UserRole" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" />
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Surname" class="form-control" />
            <label asp-for="Surname"></label>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="ContactNumber" class="form-control" />
            <label asp-for="ContactNumber"></label>
            <span asp-validation-for="ContactNumber" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="RegistrationNumber" class="form-control" />
            <label asp-for="RegistrationNumber"></label>
            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
        </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                 
                        
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Admin" asp-action="ListUser" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
        </div>
    </form>
    </div>
</div>

@section Scripts {
}
