<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Admin Dashboard</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow border-0">
                    <div class="card-header bg-primary bg-gradient py-3 text-center">
                        <h5 class="text-white mb-0">
                            <i class="bi bi-people-fill"></i> User
                        </h5>
                    </div>
                    <div class="card-body text-center">
                        <a href="@Url.Action("ListUser", "admin")" class="btn btn-success">
                            <i class="bi bi-people-fill"></i> View Users
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow border-0">
                    <div class="card-header bg-success bg-gradient py-3 text-center">
                        <h5 class="text-white mb-0">
                            <i class="bi bi-hospital"></i> Hospital
                        </h5>
                    </div>
                    <div class="card-body text-center">
                        <a href="@Url.Action("ListHospital", "Admin")" class="btn btn-success">
                            <i class="bi bi-hospital"></i> View Hospital
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow border-0">
                    <div class="card-header bg-info bg-gradient py-3 text-center">
                        <h5 class="text-white mb-0">
                            <i class="bi bi-h-circle-fill"></i> Theatre
                        </h5>
                    </div>
                    <div class="card-body text-center">
                        <a href="@Url.Action("ListTheatre", "Admin")" class="btn btn-success">
                            <i class="bi bi-h-circle-fill"></i> View Theatre
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow border-0">
                    <div class="card-header bg-danger bg-gradient py-3 text-center">
                        <h5 class="text-white mb-0">
                            <i class="fas fa-bed"></i> Beds
                        </h5>
                    </div>
                    <div class="card-body text-center">
                        <a href="@Url.Action("ListBed", "Admin")" class="btn btn-success">
                            <i class="fas fa-bed"></i> View Bed
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
