<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Prescribing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Prescribing.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E_Prescribing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
              @*           <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    User
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListUser">List User</a>
                                    </li>
                               
                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Province
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListProvince">List Province</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ingredient
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListActiveIngredient">List Active Ingredient</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Indication
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListContraIndication">List Contra-Indications</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Chronics 
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListConditionDiagnosis">List Chronic Condition</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dosage
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListDosageForm">List Dosage Form</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Interaction
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListMedicationInteraction">List Medication Interaction</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Treatment
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListTreatment">List Treatment</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
              
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bed
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListBed">List Bed</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ward
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListWard">List Ward</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hospital
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListHospital">List Hospital</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Suburb
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListSuburb">List Suburb</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cities
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListCity">List Cisties</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Theatre
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListTheatre">List Theatre</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Surgeon"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Patients
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Surgeon" asp-action="ListPatient">List Patient</a>
                                    </li>
                               
                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bookings
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Surgeon" asp-action="ListBookedPatient">All Bookings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Surgeon" asp-action="ApprovedBooking">Aproved Bookings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Surgeon" asp-action="PendingBooking">Pending Bookings</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>

                        }
                        else if (User.IsInRole("Nurse"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bookings
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Nurse" asp-action="ListPatient">Booked Patient</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Patients
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Nurse" asp-action="ListAdmittedPatient">List  Patients</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administered Medication
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Nurse" asp-action="ListAllAdministeredMedication">List  Administered Medication</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                        }

                        else if (User.IsInRole("Anaesthesiologist"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Patient
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Anaesthesiologist" asp-action="ListPatient">List Patient</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>

                  
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bookings
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Anaesthesiologist" asp-action="PendingBooking">Pending Bookings</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Anaesthesiologist" asp-action="ApprovedBooking">Approved Bookings</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Vitals
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Anaesthesiologist" asp-action="ListVitalRange">List Vitals</a>
                                    </li>

                            

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Medications Order
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Anaesthesiologist" asp-action="ListOrder">List Orders</a>
                                    </li>



                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                        }

                        else if (User.IsInRole("Pharmacist"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Stock Order
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListMedicationStock">Order Medication</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>

                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListMedicationOrder">Ordered Medication</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Medication Orders
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListOrder">Orders</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListDispancedMedicationOrder">Dispensed Medication</a>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>


                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Medication
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListMedication">List Medication</a>
                                    </li>

                    

                                    <li><hr class="dropdown-divider"></li>


                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Patients
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListPatient">List Patients</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>


                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Prescriptions
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListPrescription">All Prescriptions</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListDispancedMedication">Dispensed Prescriptions</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pharmacist" asp-action="ListRejectedPrescriptions">Rejected Prescriptions</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>


                                </ul>
                            </li>
                        }

                    </ul>
                 
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_ToasterNotification" />

            @RenderBody()
        </main>
    </div>
@* 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - E_Prescribing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


@*     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 *@
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
