@model E_Prescribing.CollectionModel.PatinetVitalCollection

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Add Vitals</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form asp-controller="Anaesthesiologist" asp-action="AddPatientVital" method="post">
            <input asp-for="PatientVital.PatientId" type="hidden" />

            <div class="border p-3">



                <div class="form-control-lg">
                    <label asp-for="PatientVital.VitalId"></label>

                    <select asp-for="PatientVital.SelectedVital" asp-items=@ViewBag.VitalList class="form-control" id="Vital" multiple>
                        <option value="">Select Vital</option>
                    </select>

                    <span asp-validation-for="PatientVital.VitalId" class="text-danger"></span>

                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                     
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                      
                    
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Anaesthesiologist" asp-action="ListPatientVital" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
      



            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="~/css/chosen.min.css" rel="stylesheet" />
    <script src="~/js/chosen.jquery.min.js"></script>
    <script>
        $(function () {

            $("#Vital").chosen({
                width: "100%"
            });

        });

    </script>
}
