################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E_Prescribing/FileContentIndex/78fc5bf4-1be4-43a7-a342-cf0bb216d678.vsidx
