################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E_Prescribing/FileContentIndex/78fc5bf4-1be4-43a7-a342-cf0bb216d678.vsidx
/.vs/E_Prescribing/FileContentIndex/024e2808-954e-44ca-a13e-774155dc181c.vsidx
*.vsidx
