@model IEnumerable<E_Prescribing.Models.Prescription>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Administered Medications</h2>
            </div>
        </div>
    </div>

    <div class="card-body">
     

        <div class="row pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a asp-controller="Nurse" asp-action="ListAdmittedPatient" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Administer Medication
                </a>
            </div>
            <div class="col-md-4">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" class="form-control" />
            </div>
            <div class="col-md-4">
                <button id="searchBtn" class="btn btn-primary mt-4">
                    <i class="bi bi-search"></i> 
                </button>
                <button id="generateReportBtn" class="btn btn-success mt-4">
                    <i class="bi bi-file-earmark-pdf"></i> Download Pdf
                </button>
            </div>
        </div>

        <div class="card-body">
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Patient</th>
                        <th>Medication Name</th>
                        <th>Dosage Form</th>
                        <th>Quantity</th>
                        <th>Time Administered</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();

            $('#searchBtn').click(function () {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                loadDataTable(startDate, endDate);
            });
            $('#generateReportBtn').click(function () {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                window.location.href = `/nurse/GenerateReport?startDate=${startDate}&endDate=${endDate}`;
            })
        });

        function loadDataTable(startDate = '', endDate = '') {
            if ($.fn.dataTable.isDataTable('#tblData')) {
                dataTable.destroy();
            }

            dataTable = $('#tblData').DataTable({
                "ajax": {
                    url: '/nurse/GetListAllAdministeredMedication',
                    type: 'GET',
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    dataSrc: 'data'
                },
                "columns": [
                    { data: 'date', "width": "10%" },
                    { data: 'prescription.patient.fullName', "width": "15%" },
                    { data: 'medication.name', "width": "15%" },  
                    { data: 'medication.dosageForm.name', "width": "15%" },  
                    { data: 'quantity', "width": "15%" },
                    { data: 'timeAdministered', "width": "10%" } 
                ]
            });
        }
    </script>

}
