@model IEnumerable<Booking>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Booked Patient List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
  

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Anaesthesiologist Name</th>
                    <th>Patient Name</th>
                    <th>ID Number</th>
                    <th>Date Of Birth</th>
                    <th>Contact Number</th>
                    <th>Email Address</th>
                    <th>Booked Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        var getPatientUrl = '@Url.Action("GetPatient", "Nurse")';
        var medicationHistoryPageUrl = '@Url.Action("MedicationHistoryPage", "Nurse")';
    </script>


    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    url: getPatientUrl, 
                    dataSrc: 'data'
                },
                "columns": [
                    { data: 'anaesthesiologist.name', "width": "25%" },
                    { data: 'patient.name', "width": "25%" },
                    { data: 'patient.idNumber', "width": "25%" },
                    { data: 'patient.dateOfBirth', "width": "15%" },
                    { data: 'patient.contactNumber', "width": "20%" },
                    { data: 'patient.email', "width": "20%" },
                    { data: 'date', "width": "15%" },
                    { data: 'status', "width": "10%" },
                    {
                        data: 'bookingId',
                        "render": function (data, type, row) {
                            var buttons = `<div class="w-75 btn-group" role="group">`;
                            if (row.admissionDate == null) {
                                buttons += `<a href="${medicationHistoryPageUrl}?id=${data}" class="btn btn-success mx-2"><i class="bi bi-check-square-fill"></i>Admit</a>`;
                            }
                            buttons += `</div>`;
                            return buttons;
                        },
                        "width": "10%"
                    }
                ]
            });
        }

        function Delete(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                                toastr.success(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (err) {
                            toastr.error("Error while deleting");
                        }
                    });
                }
            });
        }

    </script>
}