@model List<Order>


<div class="card shadow border-0 my-4">

    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">List Orders</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Patient</th>
                <th>Anaesthesiologist</th>
                <th>Medication</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>IsUrgent</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    url: '/pharmacist/GetOrder',
                    dataSrc: 'data'
                },
                "columns": [
                    { data: 'orderId', "width": "10%" },
                    { data: 'patient', "width": "15%" },
                    { data: 'anaesthesiologist', "width": "15%" },
                    {
                        data: 'medicationOrders', "width": "20%", "render": function (data) {
                            return data.map(order => order.name).join('<br>');
                        }
                    },
                    {
                        data: 'medicationOrders', "width": "10%", "render": function (data) {
                            return data.map(order => order.quantity).join('<br>');
                        }
                    },
                    { data: 'status', "width": "10%" },
                    {
                        data: 'isUrgent', "width": "10%", "render": function (data) {
                            return data === "Yes" ? `<span class="text-danger">${data}</span>` : data;
                        }
                    },

              
                    {
                        data: 'orderId', "width": "10%", "render": function (data, type, row) {
                            if (row.status !== "Dispensed" && row.status !== "Rejected" && row.status !== "Received") {
                                return `<a href="#" class="btn btn-primary mx-1 dispense-medication" data-order-id="${data}"> <i class="bi bi-pencil-square"></i> Dispense</a>`;
                            }
                            return '';
                        }
                    }
                ]
            });



            $('#tblData').on('click', '.dispense-medication', function (e) {
                e.preventDefault();

                var orderId = $(this).data('order-id');

                $.ajax({
                    url: '/pharmacist/DispenseMedicationOrder',
                    type: 'POST',
                    data: { orderId: orderId },
                    success: function (response) {
                        if (response.interactionMessage) {
                            handleInteractionAlert(response.interactionMessage);
                        }
                        else if (response.contraIndicationMessage) {
                            handleContraIndicationAlert(response.contraIndicationMessage);
                        }
                        else if (response.errorMessage) {
                            handleAllergenAlert(response.errorMessage, orderId);
                        }
                        else {
                            window.location.href = `/pharmacist/DispenseMedicationOrder?orderId=${orderId}`;
                        }
                    },
                    error: function () {
                        toastr.error("Error checking medication conflicts.");
                    }
                });
            });
        }


        function handleAllergenAlert(errorMessage, orderId) {
            Swal.fire({
                title: 'Alert',
                text: errorMessage,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Ignore',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Reason for Ignoring',
                        input: 'textarea',
                        inputPlaceholder: 'Enter the reason...',
                        inputAttributes: {
                            'aria-label': 'Enter the reason'
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Submit'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/pharmacist/DispenseMedicationOrder',
                                type: 'POST',
                                data: {
                                    orderId: orderId,
                                    ignoreReason: result.value
                                },
                                success: function () {
                                    window.location.href = `/pharmacist/ListDispancedMedicationOrder`;
                                },
                                error: function () {
                                    toastr.error("Error while dispensing medication.");
                                }
                            });
                        }
                    });
                }
            });
        }

    </script>



}
