@model List<Order2>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Medication Order List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Medication</th>
                    <th>Dosage Form</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    url: '@Url.Action("GetMedicationOrder", "Pharmacist")',
                    dataSrc: 'data'
                },
                "columns": [
                    { data: 'orderId', "width": "10%" },
                    { data: 'date', "width": "10%" },
                    { data: 'medications', "width": "20%", "render": function (data) { return data.replace(/\n/g, '<br>'); } },
                    { data: 'dosageForms', "width": "15%", "render": function (data) { return data.replace(/\n/g, '<br>'); } },
                    { data: 'quantities', "width": "10%", "render": function (data) { return data.replace(/\n/g, '<br>'); } },
                    { data: 'status', "width": "10%" },
                    {
                        data: 'orderId',
                        "render": function (data, type, row) {
                            if (row.status === "Delivered") {
                                return `<div class="w-75 btn-group" role="group">
                                        <a onClick="ReceiveOrder('@Url.Action("ReceiveOrder", "Pharmacist")?orderId=${data}')" class="btn btn-success mx-2">
                                    <i class="bi bi-basket-fill"></i> Receive
                                </a>
                                </div>`;
                            }
                            return ''; 
                        },
                        "width": "15%"
                    }


                ]
            });
        }

        function ReceiveOrder(url) {
            Swal.fire({
                icon: "success",
                title: "Your order has been received",
                showConfirmButton: true,
                confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    var token = $('input[name="__RequestVerificationToken"]').val();

                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token 
                        },
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                                toastr.success(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (err) {
                            toastr.error("Error while receiving order");
                        }
                    });
                }
            });
        }



    </script>
}
